.content{
    margin-top: 5px;
    font-size: 14px;
    padding: 5px 15px;
    .title{
        color: rgb(59, 59, 59);
        padding-bottom: 3px;
    }
    .subtitle{
        font-weight: 300;
        color: rgb(85, 85, 85);
    }
    .price{
        padding-top: 8px;
        font-weight: 500;
        font-size: 15px;
    }
}