<div class="container">
  <ion-toolbar class="toolbar">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="arrow-back-outline"></ion-icon>&nbsp;
          <mat-icon>eco</mat-icon>
          <span>Yening Keithel</span>
        </ion-col>
        <ion-col class="title">
          {{category?.name}}
        </ion-col>
        <ion-col class="search">
          <ion-icon name="search-outline"></ion-icon>&nbsp;&nbsp;
          <ion-icon name="cart-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <div class="top-actionbar">
    <ion-searchbar animated></ion-searchbar>
  </div>

  <ion-content fullscreen>
    <ion-list>
      <div app-product [product]="product" *ngFor="let product of products"></div>
    </ion-list>


    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

  <div class="bottom-actionbar">
    <div class="sort ion-activatable ripple-parent">
      <ion-icon name="options-outline"></ion-icon>&nbsp;
      <span>Sort</span>&nbsp;
      <span>Relevance</span>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="spacer"></div>
    <div class="filter ion-activatable ripple-parent">
      <ion-icon name="filter-outline"></ion-icon>&nbsp;
      <span>Filter</span>&nbsp;
      <ion-badge color="danger">4</ion-badge>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</div>