
section {
    padding: 20px 25px;

    header {
        margin-bottom: 10px;
    }

    button{
        margin-top: 20px;
        background-color: teal;
        color: #ffffff;
    }

    height: calc(100vh - (65px + 65px));
    overflow-y: auto;

    .pin-state{
        display: flex;
        .pin{
            margin-right: 20px;
            width: 40%;
        }
        .state{
            margin-right: 10px;
            width: calc(60% - 20px);
        }
    }
}