


.content {
    padding: 10px;
    height: 70vh;
    width: 100%;
    color: rgba(128, 128, 128, 0.719);

    h3 {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-style: italic;
        font-size: 12px;
    }
}