<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="tabs-container">
  <div class="tab" matRipple routerLink="/tabs/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </div>
  <div class="tab" matRipple routerLink="/tabs/categories" routerLinkActive="active">
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </div>
  <div class="tab" matRipple routerLink="/tabs/my-bag" routerLinkActive="active">
    <mat-icon>shopping_cart</mat-icon>
    <span>Cart</span>
  </div>
  <div class="tab" matRipple routerLink="/tabs/my-account" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon>
    <span>My Account</span>
  </div>
</div>