.content{
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100% - 65px);
    width: 100%;
}
.tabs-container{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 65px;
    
    .tab{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        width: 25%;
        background-color: #dedede42;
        color: #505050;
        span{
            padding-top: 2px;
            font-size: 13px;
        }
        &:focus{
            outline: none;
        }
    }

    .active{
        color: teal !important;
        border-bottom: 2px solid teal;
    }
}