

.header{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

section{
    padding: 20px 30px;

    .login-btn{
        width: 100%;
    }
    .actions{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .create-account{
        text-align: center;
        width: 100%;
        margin-top: 15px;
        color: rgb(7, 73, 53);
        text-decoration: underline;
    }
}