<div class="item">
  <div class="details">
    <ion-thumbnail slot="start">
      <ion-img src="assets/veg.png"></ion-img>
    </ion-thumbnail>
    <div class="details-content">
      <div class="name">{{product.name}}</div>
      <div class="selector">
        <div class="select-content">
          <span> 1 {{product.unit}}</span>
          <ion-select okText="Select" cancelText="cancel" *ngIf="product.customizable && product.unit === 'kg'">
            <ion-select-option [value]="weight" *ngFor="let weight of product.weights">{{weight}}</ion-select-option>
          </ion-select>
          <ion-select okText="Select" cancelText="cancel" *ngIf="product.customizable && product.unit === 'pcs'">
            <ion-select-option [value]="pcs" *ngFor="let pcs of product.pcs">{{pcs}}</ion-select-option>
          </ion-select>
        </div>
        <div>{{product.price | currency:'INR'}}</div>
      </div>
    </div>
  </div>
  <div class="action">

    <ion-button class="add-btn" size="small" color="light" (click)="add()">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      <span>Add</span>
    </ion-button>
  </div>
</div>